@import "../scss/font";
$desktop: 1439px;
$tablet: 767px;
.how-it-works__cards {
  margin-top: 2.2em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: $desktop) {
    padding: 0 10px;
  }
  @media screen and (max-width: $tablet) {
    flex-direction: column;
  }
}
.how-it-works__title {
  margin-top: 4.3em;
}

.card_step1::after,
.card_step2::after,
.card_step3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.card_step1 {
  background-image: url("../src/how-it-works/img/step1.png");
}
.card_step2 {
  background-image: url("../src/how-it-works/img/step2.png");
}
.card_step3 {
  background-image: url("../src/how-it-works/img/step3.png");
}
.how-it-works__card {
  @media screen and (max-width: $tablet) {
    margin-top: 10px;
    width: auto !important;
  }
}
