@import "../scss/font";
$desktop: 1439px;
$tablet: 767px;
.ideas__title {
  margin-top: 4.3em;
  @media screen and (max-width: $tablet) {
    margin-top: 1.5em;
  }
}

.ideas__photo_small {
  width: 32%;
  min-height: 310px;
}
.ideas__photo_big {
  width: 66%;
  min-height: 310px;
}
.ideas__photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1em;
  @media screen and (max-width: $desktop) {
    padding: 0 10px;
  }
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    margin-top: 0;
  }
}
.ideas__photo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
  @media screen and (max-width: $tablet) {
    width: auto;
    min-height: 40vw;
    margin-top: 10px;
  }
}
.ideas__img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  filter: contrast(1.2) brightness(0.8);
  border-radius: 5px;
}
.ideas__text {
  font-size: 22px;
  color: #ffffff;
  font-family: "montserratBold";
  text-align: center;
  z-index: 2;
}
