@font-face {
  font-family: "montserratRegular";
  src: url("../src/fonts/Montserrat\ Regular.ttf");
}
@font-face {
  font-family: "montserratBold";
  src: url("../src/fonts/MontserratBold.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../src/fonts/Roboto.ttf");
}
