@import "./font";
@import "../promo/promo";
@import "../how-it-works/how-it-works";
@import "../partners/partners";
@import "../ideas/ideas";
@import "../search-partners/search-partners";
@import "../footer/footer";
$desktop: 1439px;
$tablet: 767px;
* {
  margin: 0;
  padding: 0;
}
.content {
  max-width: 940px;
  margin: 0 auto;
}
.logo {
  color: #fff;
  font-family: "montserratBold";
  font-size: 20px;
  letter-spacing: 1px;
}
.log-in-buttons__log-in,
.log-in-buttons__sign-up {
  font-size: 14px;
  color: #ffffff;
  font-family: "montserratBold";
  height: auto;
  padding: 0.55em 1.15em;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.log-in-buttons__log-in {
  border: 0;
}
.log-in-buttons__sign-up {
  border-radius: 20px;
  border: solid #fff 2px;
}
.button {
  font-size: 14px;
  color: #fff;
  font-family: "montserratBold";
  background: transparent;
  cursor: pointer;
  outline: none;
  height: auto;
  padding: 0.8em 1.6em;
  background-color: #ff4e50;
  border-radius: 25px;
  border: 0;
}
.title {
  font-size: 22px;
  color: #333333;
  font-family: "montserratBold";
  text-align: center;
  padding: 0 10px;
}
.card {
  position: relative;
  width: 32%;
  min-height: 400px;
  background-position: center;
  background-size: auto;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  @media screen and (max-width: $tablet) {
    min-height: 240px;
  }
}
.card__content {
  z-index: 2;
  display: inline-block;
  vertical-align: bottom;
  padding: 20px;
}
.card__step {
  display: inline-block;
  height: auto;
  font-size: 10px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "montserratRegular";
  text-align: center;
  border-radius: 20px;
  background-color: #ff4e50;
  padding: 0.3em 1.3em;
  margin-bottom: 1.2em;
}
.card__title {
  font-size: 24px;
  color: #ffffff;
  font-family: "montserratBold";
  margin-bottom: 0.4em;
}
.card__text {
  font-size: 14px;
  color: #cccccc;
  font-family: "roboto";
}
input[type="text"] {
  font-size: 14px;
  color: #999999;
  font-family: "roboto";
  border: solid #999999 1px;
  border-radius: 5px;
}
